<div id="content2">
    <div class="row">
        <h1> Tablas </h1> <br>
        <h3 style="color:white;"> Seleccione la tabla a editar:</h3> <br>
    </div>

    <div class="row">
        <a href="user/" type="button" class="btn btn-default btn-warning" >Administrador</a>
    </div>
    <div class="row pt-md-5"></div><br> 
    <div class="row">
        <a href="partida/" type="button" class="btn btn-default btn-warning" >Partida</a>
    </div> <br>
    <div class="row pt-md-5"></div>
    <div class="row">
        <a href="/imagen/" type="button" class="btn btn-default btn-warning" >Imagen</a>
    </div><br><br><br>
    <div class="row pt-md-5"></div>
    <div class="row">
        <a href="/" type="button" style="color:white;">Atrás</a>
    </div>
</div>