<h2>Editar - <a href="/imagen"> Imagen </a></h2>

<!-- NOTA: utilice helper para simplificar el código de esta sección 
agregar method-override 
-->

<form class="form" action="/imagen/{{user.id_imagen}}?_method=PUT" method="post">
  <div class="form-group">
    <label for="title"></label>      
      <input type="file" id="imagen" name="imagen" value="{{user.imagen}}"> 
      <div id="content1"> </div>
      <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{user.descripcion}}"> 
      <input type="text" class="form-control" id="id_partida" name="id_partida" value="{{user.id_partida}}">      
  </div>
  <button type="submit" class="btn btn-default btn-danger">Actualizar</button>
</form>

<br><br><br>
    <div class="row pt-md-5"></div>
    <div class="row">
        <a href="/imagen" type="button" style="color:white;">Atrás</a>
    </div>
  