<div id="content">
    <h1> Administración </h1>
    <img id="imgAdmin" src="/images/user.png" width="100px" alt="user img"> 
    <br/> <br/>
    <button class="btnIr" onclick="window.location.href='/about'"> 
        <a class="texto">Acceder a las tablas</a>
    </button>
    <br><br>
    <div class="row pt-md-5"></div>
    <div class="row">
        <a href="front/" type="button" style="color:white;">Atrás</a>
    </div>
</div>
