<!-- NOTA: utilice helper para simplificar el código de esta sección -->

<h2><a href="/imagen">Imagen</a></h2>

<form class="form" action="/imagen" method="post">
  <div class="form-group">
    <label for="title"></label>
      <label style="font-size: 21px; color: white;"> Subir Imagen: &nbsp;</label>
      <input type="file" id="imagen" name="imagen"> 
      <div id="contentImg"> </div>
      <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="enter a description"> 
      <input type="text" class="form-control" id="id_partida" name="id_partida" placeholder="enter game id">  
    </div>
  <button type="submit" class="btn btn-default success">Crear</button>
    
</form>
<br><br><br>
    <div class="row pt-md-5"></div>
    <div class="row">
        <a href="/imagen" type="button" style="color:white;">Atrás</a>
    </div>
  