<!-- NOTA: utilice helper para simplificar el código de esta sección -->

<h2>Single user page -  <a href="/imagen">Imagen</a></h2>

{{user.id_imagen}}, {{user.descripcion}}, {{user.id_partida}}

<a href="/imagen/{{user.id_imagen}}/edit" type="button" class="btn btn-default btn-warning" >
  edit user
</a>
<a href ="/imagen"><button type="submit" class="btn btn-default success" >Atras</button></a>