<!-- NOTA: utilice helper para simplificar el código de esta sección -->

<h2><a href="/user">Administrador</a></h2>

<form class="form" action="/user" method="post">
  <div class="form-group">
    <label for="title"></label>
    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="enter username"> 
      <input type="password" class="form-control" id="password" name="password" placeholder="enter a password"> 
      <div class ="form-group"></div>
      <input type="text" class="form-control" id="rol" name="rol" placeholder="rol"> 
    </div>
  <button type="submit" class="btn btn-default success">Crear</button>
    
    
</form>
<br><br><br>
    <div class="row pt-md-5"></div>
    <div class="row">
        <a href="/user" type="button" style="color:white;">Atrás</a>
    </div>
  