<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rompecabezas</title>
    
 <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/estilo.css">
   <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="Shortcut Icon" href="/images/puzzle-icon.ico" />
</head>
    
    
<body cz-shortcut-listes="true">
        <div id="title">
        <img src="/images/rompecabezasTitle.png" class="img-fluid">
        </div> 
             
            
            <div class="row" style="text-align: center">
             <div class="col-md-12">
       
        <a href="/front/admin"> <button id="game-button" style="background-color:#FFC300">
                    Entrar como administrador
                      </button> </a> 
                 
                </div>
                </div>
                 <div class="row" style="text-align: center">
             <div class="col-md-12">
       
        <a href="/user/login"> <button id="game-button" style="background-color:#FFC300">
                    Ir a las tablas
                      </button> </a> 
                 
                </div>
                </div>
    <br><br><br>
    <div class="row" style="text-align: center">
             <div class="col-md-12">
       
        <a href="/"> <button id="game-button">
                    Regresar
                      </button> </a> 
                 
                </div>
                </div>
    
            
<script src="/Js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/Js/scriptindex.js"></script>  
</body>