<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo.css">    
<body cz-shortcut-listes="true">
    <div id="title">
        <img src="images/choose-avatar.png" class="img-fluid">
        </div>
    
    <div id="avatar-container">
       <div class="row">
          <div class="col-md-3">
              <a href="/avatarEscogido"> <button id="game-button" style="background-color:#c2dca8" class="game-button">
                    <img src="/images/avatar1.png">
                </button> </a>
           </div>
          <div class="col-md-3">
              <a href="/avatarEscogido"> <button id="game-button" style="background-color:#e0c6e0" class="game-button">
                    <img src="/images/avatar2.png">
                </button> </a>
              </div>
           <div class="col-md-3">
               <a href="/avatarEscogido"> <button id="game-button" style="background-color:#e17f58" class="game-button">
                    <img src="/images/avatar3.png">
                </button> </a>
           </div>
          <div class="col-md-3">
              <a href="/avatarEscogido"> <button id="game-button" style="background-color:#70c5c8" class="game-button">
                    <img src="/images/avatar4.png">
                </button> </a>
           </div>
</div>
        
         <div class="row">
             
  <div class="col-md-3">
      <a href="/avatarEscogido"> <button id="game-button" style="background-color:#a478b0" class="game-button">
                    <img src="/images/avatar5.png">
                </button> </a>
             </div>
  <div class="col-md-3">
      <a href="/avatarEscogido"> <button id="game-button" style="background-color:#839296" class="game-button">
                    <img src="/images/avatar6.png">
                </button> </a> 
             </div>
  <div class="col-md-3">
      <a href="/avatarEscogido"> <button id="game-button" style="background-color:#f3cd77" class="game-button">
                    <img src="/images/avatar7.png">
                </button> </a> 
                         
             </div>
<div class="col-md-3">
    <a href="/avatarEscogido"> <button id="game-button" style="background-color:#ef7b7d" class="game-button">
                    <img src="/images/avatar8.png">
                </button> </a> 
             </div>
</div>

    <br> <br>
    <div class="row">
        <div class="col-md-6">
     <a href="/"><button id="arrows">
            <img src="/images/back-button.png" class="img-fluid" ></button>
            </a>
         </div>    
         
        
        <div class="col-md-6">
            <a href=/juegos>
            <button id="arrows">
            <img src="/images/next-button.png" class="img-fluid" ></button> </a>
         </div>    
        </div>    
    
   </div>
</body>