<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo.css">
    <body cz-shortcut-listes="true" class="inicio">
        <div id="title">
            <img src="/images/rompecabezasTitle.png" class="img-fluid">
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <a href="/avatar"> <button id="game-button" style="background-color:deepskyblue" class="game-button">
                    <img src="/images/play-buttonpng.png">
                </button> </a>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <a href="/login"> <button id="game-button" style="background-color:#FFC300" class="game-button">
                        Administrar
                </button> </a> 
            </div>
        </div>
    </body>