<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo.css">  
    <body cz-shortcut-listes="true">
        <div id="title" style="color: violet;">
            Escoge tu personaje favorito
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <a href="/puzzle"> <button id="game-button" style="background-color:#e386b3">
                <img  src="/images/peppa.png">
                </button> </a>
                <a href="/puzzle2"> <button id="game-button" style="background-color:#bfcb04">
                <img  src="/images/dora.png"></button> </a>
                <a href="/puzzle3"> <button id="game-button"><img  src="/images/doraemon-icon.png">
                </button> </a>
            </div>
        </div>
        <br><br><br><br><br><br>
        <div class="row" style="text-align: center;">  
            <div class="col-12">
                <div id="atrasBtn">
                    <div class="game-button">
                        <a href="/avatar"> <img src="/images/regresar.png" width="165px"> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-md-12"> </div>
        </div> 
        
        
    </body>