<script >
       
        var usuario = localStorage.getItem("usuario");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/user/login"
             //window.location="/user/login"
        }
        
      
    


</script>
<!-- NOTA: utilice helper para simplificar el código de esta sección -->

<h2><a href="/partida">Partida</a></h2>

<form class="form" action="/partida" method="post">
  <div class="form-group">
    <label for="title"></label>
    <input type="text" class="form-control" id="puntaje" name="puntaje" placeholder="enter score"> 
      <input type="text" class="form-control" id="piezas" name="piezas" placeholder="enter a number of pieces"> 
      <input type="text" class="form-control" id="intentos" name="intentos" placeholder="enter a number of tries"> 
      <input type="text" class="form-control" id="usuarios_id" name="usuarios_id" placeholder="enter id usuario"> 
      <input type="text" class="form-control" id="rompecabeza_id" name="rompecabeza_id" placeholder="enter id rompecabeza"> 
    </div>
  <button type="submit" class="btn btn-default success">Crear</button>
    
    
</form>
<br><br><br>
   <div class="row pt-md-5"></div>
    <div class="row">
        <a href="/about" type="button" style="color:white;">Atrás</a>
    </div>
  <br><br>
